/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */



.appbar{
  left: 5%;
  top: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 15px black;
  background-color: #f7d736;
}

.logo{
  margin: 0.5rem;
  width: 5rem;
  height: 3rem;
}

html, body {
  font-family: "Roboto", sans-serif;
}

textarea {
  resize: none;
}

.form-card{
  box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 50px 40px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  flex-direction:column;
  width: 30%;
  height: 140px;
  margin: 1% auto;
  border-radius: 5px;

}

.form-card-title{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  border: 0px none;
  display: flex;

}

.autoresize{
  font-family: 'Roboto', sans-serif;
  border: 0px;
  font-size: 0.9em;
  align-items: start;

}

.card-container{
  margin: 1% auto;
  display: flex;
}

.card-color-1{
  background:#ead3a7;
  margin: 1% auto;
  display: flex;
  box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 50px 40px rgba(0, 0, 0, 0.12);
}

.card-color-2{
  background:#9de0f5;
  margin: 1% auto;
  display: flex;
  box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 50px 40px rgba(0, 0, 0, 0.12);
}

.card-color-3{
  background:#ef89ba;
  margin: 1% auto;
  display: flex;
  box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 50px 40px rgba(0, 0, 0, 0.12);
}

.card-color-4{
  background:#abe9c1;
  margin: 1% auto;
  display: flex;
  box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 50px 40px rgba(0, 0, 0, 0.12);
}

.card-color-5{
  background:#fae890;
  margin: 1% auto;
  display: flex;
  box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 50px 40px rgba(0, 0, 0, 0.12);
}

.card-rotation-1{
  transform: rotate(-25deg);
}

.card-rotation-2{
  transform: rotate(-20deg);
}

.card-rotation-3{
  transform: rotate(-15deg);
}

.card-rotation-4{
  transform: rotate(-10deg);
}

.card-rotation-5{
  transform: rotate(-5deg);
}

.card-rotation-6{
  transform: rotate(0deg);
}

.card-rotation-7{
  transform: rotate(5deg);
}

.card-rotation-8{
  transform: rotate(10deg);
}

.card-rotation-9{
  transform: rotate(15deg);
}

.card-rotation-10{
  transform: rotate(20deg);
}

.card-rotation-11{
  transform: rotate(25deg);
}

.card-{
  box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034);	
  background:#ffffa5;
  border-radius: 2px;
  border-color: black;
  border-radius: 5px;
  
}

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
 .btn {
  position: relative;
  display: block;
  padding: 10px 250px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
} 
