/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */



.appbar{
  left: 5%;
  top: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 1px 0px 20px black;
  background-color: #f7d736;
}

.logo{
  margin: 0.5rem;
  width: 5rem;
  height: 3rem;
}

html, body {
  font-family: "Roboto", sans-serif;
}

textarea {
  resize: none;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.form-card{
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.3);
  justify-content:space-between;
  display: flex;
  flex-direction:column;
  width: 30%;
  height: 140px;
  margin: 2% auto;
  border-radius: 10px;
  

}

.form-card-title{
  margin-left: 2.5%;
  margin-top: 2.5%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  border: none;
  display: flex;
  background-color: transparent;
}

.autoresize{
  font-family: 'Roboto', sans-serif;
  border: 0px;
  font-size: 0.9em;
  margin-left: 2.5%;
}

.card-container{
  align-content:flex-start;
  justify-content:space-evenly;
  margin: 2%;
  display: flex;
  flex-wrap:wrap;
  margin-left: 5%;
  margin-right: 5%;
  
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.card{
  font-family: 'Permanent Marker', cursive;
  width:15.5%;
  margin-top: 5%;
  border-radius: 10px;
  margin: 1% auto;
  display: flex;
  flex-direction:column;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.card-title{
  /* flex-wrap:wrap; */
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px 10px 15px 10px; 
}
.card-content{
  /* flex-wrap:wrap; */
  font-size: 0.98em;
  font-weight:normal;
  color: #2c2c2c;
  text-align:left;
  align-self: center;  
  vertical-align: middle;
  margin: 0px 10px 8px;
  
}

.card-color-1{
  background:#ead3a7;
  
}

.card-color-2{
  background:#9de0f5;
}

.card-color-3{
  background:#ef89ba;
}

.card-color-4{
  background:#abe9c1;
}

.card-color-5{
  background:#fae890;
}

/* .card-rotation-1{
  transform: rotate(-25deg);
}

.card-rotation-2{
  transform: rotate(-20deg);
}

.card-rotation-3{
  transform: rotate(-15deg);
} */

.card-rotation-4{
  transform: rotate(-10deg);
}

.card-rotation-5{
  transform: rotate(-5deg);
}

.card-rotation-6{
  transform: rotate(3deg);
}

.card-rotation-7{
  transform: rotate(5deg);
}

.card-rotation-8{
  transform: rotate(10deg);
}

/* .card-rotation-9{
  transform: rotate(15deg);
}

.card-rotation-10{
  transform: rotate(20deg);
}

.card-rotation-11{
  transform: rotate(25deg);
} */

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
 .btn {
   margin: 0.5em;
  position: relative;
  display: block;
  padding: 10px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 7px;
  /* box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2); */
  background-color: #f7d736;

  transition: background-color 0.3s;
}
.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
} 
