/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

.appbar{
  left: 5%;
  top: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 1px 0px 20px black;
  background-color: #f7d736;
  font-weight: bold;
}

.logo{
  margin: 0.5rem;
  width: 5rem;
  height: 3rem;
}

html, body {
  font-family: "Roboto", sans-serif;
}

textarea {
  resize: none;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.form-card{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 24px, rgba(0, 0, 0, 0.22) 0px 8px 8px;
  justify-content:space-between;
  display: flex;
  flex-direction:column;
  width: 29%;
  height: 160px;
  margin: 1% auto;
  margin-top: 1.5%;
  border-radius: 5px;
}

.form-card-title{
  margin-top: 2.5%;
  margin-left: 2.5%;
  margin-right: 3%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  border: 0px none;
  align-items: start;
  display: flex;
}

.autoresize{
  font-family: 'Roboto', sans-serif;
  border: none;
  font-weight: bold;
  font-size: 0.9em;
  margin-left: 2.5%;
  margin-right: 3%;
  margin-top: 2.5%;
}

.card-container{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-content{
  font-family: 'Permanent Marker', cursive;
  font-size: 1.2em;
  margin: 10% auto;
  /*text-align: center;*/
  margin-top: 30px;
  padding-left: 20px;
  margin-right: 10px;
  color: #4c4c4c;
}

.card-title{
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5% auto;
}
.card{
  border-radius: 10px;
  padding-top: : 5px;
  padding-right: 5px;
  padding-bottom: 25px;
  padding-left: : 150px;
  width: 290px;
  height: 150px;
  margin: 20px auto;
}

.card-color-1{
  background:#ead3a7;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

.card-color-2{
  background:#9de0f5;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

.card-color-3{
  background:#ef89ba;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

.card-color-4{
  background:#abe9c1;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

.card-color-5{
  background:#fae890;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

.card-rotation-1{
  transform: rotate(-5deg);
}

.card-rotation-2{
  transform: rotate(-4deg);
}

.card-rotation-3{
  transform: rotate(-3deg);
} 

.card-rotation-4{
  transform: rotate(-2deg);
}

.card-rotation-5{
  transform: rotate(-1deg);
}

.card-rotation-6{
  transform: rotate(3deg);
}

.card-rotation-7{
  transform: rotate(1deg);
}

.card-rotation-8{
  transform: rotate(2deg);
}


.card-rotation-9{
  transform: rotate(3deg);
}

.card-rotation-10{
  transform: rotate(4deg);
}

.card-rotation-11{
  transform: rotate(5deg);
}

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
 .btn {
  position: relative;
  display: block;
  padding: 2% 44.5%;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px, rgba(0, 0, 0, 0.3) 0px 2px 5px;
  font-weight: bold;
  background-color: #f7d736;
  transition: background-color 0.3s;
  margin: auto;
}
.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
} 
